<!DOCT<!DOCTYPE html>
<html>
<head>
    <title>Hello</title>
    <style>

  .header-image {
            width: 50%;
            height: 50%;
            display: block;
            border: 2px solid red; /* Remove this once it works */
        }
        
    </style>
</head>
<body>
  <!-- Try these different path options one at a time -->
    <img src="static/nameheader.png">
    <div>
        <h1>Hello Welcome to my website, I am Satavra (my name until the website is near good)</h1>
        <h4>I am a C++ Developer and this is written with html, css, C++ ( crowcpp library),
	  I am also a game developer, i have experience in godot, unity and raylib. </h4>
	<h1>Projects<h1>
        <a href="/projects" class="button">Click Here</a>
	<h1>github</h1>  
        <a href="https://github.com/sarbesh0x01" class="button">Click Here</a>
	<h1>linkedin</h1>
        <a href="https://www.linkedin.com/in/sarbesh-kc-66b571307/" class="button">Click Here</a>
    </div>
</body>
</html>
